.ReactCrop__drag-handle {
	display: none !important;
}

.form-container {
    position: relative;
    display: table;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.form-container .field {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 40px;
}

.form-container .field input[type=text] {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 15px;
    outline: 0;
	border-width: 0 0 1px;
	border-color: #999;
    border-style: dashed;
    background-color: transparent;
}
  
.form-container .field span.placeholder {
    position: absolute;
    margin: 17px 0;
    padding: 0 4px;
    display: flex;
    align-items: center;
    top: 0;
    left: 40px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}
  
.form-container .field input[type=text]:valid + span.placeholder,
.form-container .field input[type=text]:focus + span.placeholder {
    transform: scale(0.8) translateY(-30px);
}
  
.form-container .field .category {
    position: relative;
    display: block;
    margin: 0 0 10px 20px;
}
  
.form-container .field .ant-radio-group {
    display: flex;
    margin-left: 20px;
}
  
.form-container .field2 .ant-btn {
text-align: center;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.219)), url(../../assets/img/fondoBatalla3.png);
  height: 60px;
  width: 250px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  font-size:24px;
  margin: 90px 0px 0px;
}

.form-container .uploads-container {
    position: relative;
    display: block;
}

.form-container .uploads-container .upload-image-container {
    position: relative;
    display: block;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    float: left;
    box-sizing: border-box;
}

.form-container .uploads-container .upload-image-container input[type=file] {
    display: none;
}

.form-container .uploads-container .upload-image-container .labelFile {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 60px 0;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}

.form-container .uploads-container .upload-image-container .labelFile p {
    text-align: center;
}

.form-container .uploads-container .upload-image-container .labelFile p span {
    font-weight: bold;
}

.form-container .uploads-container .upload-image-container .react-crop .hideCanvas {
    display: none;
}
.fieldMax{
    float: left;
    width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 790px) {
	.form-container .uploads-container .upload-image-container {
        width: 100%;
    }
    .form-container .field .ant-radio-group {
        justify-content: flex-start;
        float: left;
        width: 100%;
        flex-wrap: wrap;
        margin: 0px;
    }
    .form-container .field .category{
        margin: 0px 0px 10px;
    }
    .form-container .field {
        padding: 0px 20px !important;
    }
    .form-container .field span.placeholder {
        position: absolute;
        margin: 17px 0;
        padding: 0 4px;
        display: flex;
        align-items: center;
        top: 0;
        left: 20px;
        transition: all 0.2s;
        transform-origin: 0% 0%;
        background: none;
        pointer-events: none;
    }
    
}
@media only screen and (min-width: 320px) and (max-width: 490px) {
    .form-container{
        display: flex;
    }
}