* {
  box-sizing: border-box;
  outline: none;
}
img {
  display: block;
}

.fondo {
  float: left;
  width: 100%;
}
/*  HEADER  */
.fondo header {
  position: relative;
  width: 100%;
  float: left;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 150px;
}
.fondo .container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1150px;
}
.fondo header img {
  width: 120px;
  margin-right: 50px;
}
.fondo header .search {
  float: left;
  width: 100%;
  position: relative;
}
.fondo header .search .icono {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 30px;
  color: rgb(224, 224, 205);
}
.fondo header input {
  float: left;
  width: 100%;
  height: 50px;
  padding: 0px 120px 0 40px;
  border-radius: 7px;
}
.fondo header .container-flex .options {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50%;
  min-width: 420px;
}
.fondo header .container-flex .options .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-left: 1px solid white;
  padding: 0px 20px;
  cursor: pointer;
}
.fondo header .container-flex .options .option:first-child {
  border-left: 0px solid white;
}
.fondo header .container-flex .options .option span {
  margin-top: 5px;
  font-size: 14px;
}
.container-flex-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}
/* FIN HEADER  */

/* INICIO MENU */
nav {
  float: left;
  width: 100%;
  background: rgb(46, 46, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 20px 0px;
}
nav .menu {
  float: left;
  width: 100%;
}
nav .menu a {
  padding: 0px 10px;
  cursor: pointer;
}
nav .carrito {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
nav .carrito span {
  margin-right: 10px;
}
/* FIN MENU  */

/* INICIO PORTADA */
.fondo .header {
  background: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.164)),
    url(./assets/img/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  float: left;
  width: 100%;
}

.fondo .header .border {
  float: left;
  width: 100%;
  padding: 20px;
  height: 75vh;
}

.fondo .header .row-flex {
  border: 1px dashed #fff;
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.fondo .header .row-flex .col-1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo .header .row-flex .col-1 img {
  width: 45%;
  transition: 2s all linear;
}
.fondo .header .row-flex .col-1 img:hover {
  transform: rotateX(720deg);
}
.fondo .header .row-flex .col-2 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.fondo .header .row-flex .col-2 .titulo1 {
  width: 80%;
  text-align: center;
  font-size: 24px;
}
.fondo .header .row-flex .col-2 .tituloGrande {
  width: 80%;
  text-align: center;
  font-size: 102px;
  font-weight: 600;
  line-height: 95px;
}
.fondo .header .row-flex .col-2 .titulo2 {
  width: 80%;
  text-align: center;
  font-size: 38px;
  margin: 8px 0px;
  font-weight: 600;
}
.fondo .header .row-flex .col-2 .button {
  float: left;
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}
.fondo .header .row-flex .col-2 button {
  background: #00d97c;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 45px;
  border-radius: 20px;
  outline: none;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.6s all ease-in;
}
.fondo .header .row-flex .col-2 button:hover {
  background: #2c6f74;
  color: white;
  transform: rotateX(360deg);
}
/* FIN PORTADA  */

/* INICIO PRODUCTOS DESTACADOS */
.fondo .topSales {
  float: left;
  width: 100%;
  min-height: 600px;
  padding: 50px;
  background-color: rgb(250, 247, 247);
}
.fondo .topSales .raw {
  width: 100%;
  padding: 0px 150px;
  display: flex;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto 20px;
  justify-content: center;
}
.fondo .topSales .raw .tituloProductosDestacados {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}
.fondo .topSales .raw .col {
  width: calc(100% - 10px);
  margin-left: 20px;
  float: left;
  padding: 20px;
  height: 300px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 2px 14px -3px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 2px 14px -3px rgba(207, 207, 207, 1);
  box-shadow: 0px 2px 14px -3px rgb(212, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo .topSales .raw .col:first-child {
  margin-left: 0px;
}
.fondo .topSales .raw .col .mitad1 {
  float: left;
  width: 44%;
  padding-left: 5px;
}
.fondo .topSales .raw .col .mitad2 {
  float: left;
  width: 56%;
}
.fondo .topSales .raw .col .mitad2 img {
  float: right;
  width: 75%;
  transition: 0.3s all linear;
}
.fondo .topSales .raw .col .mitad2 img:hover {
  transform: scale(1.15);
}

.fondo .topSales .raw .col .mitad1 .titulo {
  font-size: 16px;
  font-weight: 500;
  float: left;
  width: 100%;
}
.fondo .topSales .raw .col .mitad1 .tituloProducto {
  font-size: 22px;
  float: left;
  width: 100%;
  font-weight: 600;
}
.fondo .topSales .raw .col .mitad1 .tituloPrecio {
  font-size: 18px;
  float: left;
  width: 100%;
  font-weight: 500;
  margin-bottom: 10px;
}
.fondo .topSales .raw .col .mitad1 button {
  font-size: 14px;
  float: left;
  padding: 10px 20px;
  width: 100%;
  max-width: 150px;
  font-weight: 600;
  color: white;
  background-color: #f5333b;
  margin-bottom: 10px;
  border-radius: 60px;
  border: 0px;
  cursor: pointer;
}
.card3 {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card2 {
  float: left;
  padding: 40px 40px 20px;
  width: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 15px 15px 33px -11px rgb(150 150 150);
  -moz-box-shadow: 15px 15px 33px -11px rgba(150, 150, 150, 1);
  box-shadow: 15px 15px 33px -11px rgb(150 150 150);
  max-width: 1150px;
  margin-top: 10px;
}
.card2 .tituloSolicitud {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.card2 .inputRojo {
  float: left;
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 2px solid red;
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding-left: 15px;
}

.card2 .icono {
  font-size: 68px;
  margin-left: 10px;
}
.card2 form {
  float: left;
  width: 100%;
}
.card2 form .col {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.card2 form .col button {
  float: left;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}
.card {
  float: left;
  /* border: 1px solid #ccc; */
  padding: 40px 40px 20px;
  width: 100%;
}
.card .tituloSolicitud {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.card .inputRojo {
  float: left;
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 2px solid red;
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding-left: 15px;
}

.card .icono {
  font-size: 68px;
  margin-left: 10px;
}
.card form {
  float: left;
  width: 100%;
}
.card form .col {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.card form .col button {
  float: left;
  width: 100%;
  height: 50px;
}
.inputReact {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.productos {
  float: left;
  width: 100%;
  padding: 0px 50px;
}
.productos .raw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productos .raw .columnas {
  width: calc((100% / 3) - (60px / 3));
  float: left;
  margin-bottom: 40px;
}
.productos .raw .columnas .card {
  height: 500px;
  float: left;
  width: 100%;
  padding: 20px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 2px 14px -3px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 2px 14px -3px rgba(207, 207, 207, 1);
  box-shadow: 0px 2px 14px -3px rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productos .raw .columnas .card img {
  float: left;
  height: 200px;
  width: 100%;
}
.productos .raw .columnas .card .detalles {
  float: left;
  width: 100%;
  padding: 20px 0px;
}
.productos .raw .columnas .card .detalles span {
  width: 100%;
  float: left;
  margin-bottom: 5px;
  text-align: center;
}
.productos .raw .columnas .card .detalles .titulo {
  font-weight: 600;
  font-size: 16px;
}
.productos .raw .columnas .card .detalles .regularPrice {
  font-weight: 500;
  font-size: 14px;
  text-decoration: line-through;
  color: #262626;
}
.productos .raw .columnas .card .detalles .price {
  font-weight: 700;
  color: #8f4a00;
}
.productos .raw .columnas .card .booton {
  width: 100%;
  float: left;
}
.productos .raw .columnas .card .booton button {
  width: 100%;
  float: left;
  background: #000;
  color: white;
  border: 0px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.fondo .row {
  float: left;
  width: 100%;
  padding: 20px 50px 0px;
}
.fondo .negro {
  background: #000;
  padding-bottom: 20px;
}
.fondo .row img {
  width: 100px;
}
.fondo .flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fondo .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 25px;
  background: rgb(14, 4, 1);
  color: white;
}
.fondo .card2 p {
  margin: 0px;
}
.fondo .row .botonDescarga {
  float: left;
  width: 100%;
}
.fondo .row .botonDescarga button {
  transform: translateY(-100%);
  width: 100%;
  max-width: 260px;
  background: black;
  color: white;
  height: 40px;
  border-radius: 20px;
  border: none;
  display: flex;
  padding: 0px 40px;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

@media (max-width: 752px) {
  .card .tituloSolicitud {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .card .inputRojo {
    float: left;
    width: 100%;
    height: 45px;
    border: 0px;
    border-bottom: 2px solid red;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-left: 15px;
  }

  .card .icono {
    font-size: 32px;
    margin-left: 10px;
  }
}

/* WEBINAR  */

.fondo {
  float: left;
  width: 100%;
}
.fondo .contenedorStreaming {
  float: left;
  width: 100%;
  background: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.fondo .contenedorStreaming .head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.fondo .contenedorStreaming .streaming {
  float: left;
  width: 100%;
}
.fondo .contenedorStreaming .streaming iframe {
  float: left;
  width: 100%;
  max-height: 2000px !important;
  min-height: 100px !important;
  height: calc(100vh - 170px);
}
.fondo .contenedorStreaming .pregunta {
  float: left;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo .contenedorStreaming .pregunta .inputs {
  width: 50%;
}
.fondo .contenedorStreaming .pregunta .inputs input {
  float: left;
  width: 100%;
  height: 50px;
  border: 0px;
  border-bottom: 2px solid red;
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding-left: 15px;
}

.fondo .contenedorStreaming .pregunta button {
  max-width: 300px;
  width: 100%;
  background: black;
  border: 0px;
  margin-left: 20px;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-style: 600;
  font-size: 16px;
  padding: 0px 50px;
  cursor: pointer;
}
