@media (min-width: 320px) and (max-width: 719px) {
  .fondo #header1 {
    display: none;
  }
  nav{

    display: none;
  }
  .fondo .mobile{
    float: left;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 99;
  }
  .fondo .mobile .hamburguesa{
    color: white;
    cursor: pointer;
  }
  .fondo .mobile .hamburguesa .iconHamburguesa{
    font-size: 42px;
  }
  .fondo .mobile .logoMobile img {
    width: 70px;
    margin-right: 0px;
  }
  .fondo .mobile .carritoMobile{
    color: white;
  }
  .fondo .mobile .carritoMobile .iconoBolsa{
    font-size: 28px;
  }

  .fondo .header .row-flex .col-1{
    width: 100%;
    margin-bottom: 30px;
  }
  .fondo .header .row-flex{
    flex-direction: column;
    height: auto;
  }
  .fondo .header .row-flex .col-2{
    width: 100%;
  }
  .fondo .header .row-flex .col-2 .titulo1{
    width: 100%;
    font-size: 18px;
  }
  .fondo .header .row-flex .col-2 .titulo2{
    width: 100%;
    font-size: 28px;
  }
  .fondo .header{
    height: auto;
  }
  .fondo .header .border{
    height: auto;
  }
  .fondo .header .row-flex .col-2 .button{
    width: 100%;
  }
  .fondo .topSales .raw{
    padding: 0;
    flex-direction: column;
  }
  .fondo .topSales .raw .col{
    width: 100%;
    margin-left: 0;
    position: relative;
    height: auto;
    padding: 50px 10px 30px;
    justify-content: flex-start;
    min-height: 400px;
  }
  .fondo .topSales .raw .col:first-child{
    margin-bottom: 20px;
  }
  .fondo .topSales .raw .col .mitad1{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50%;
  }
  .fondo .topSales .raw .col .mitad1 .titulo{
    font-size: 14px;
    text-align: right;
  }
  .fondo .topSales .raw .col .mitad1 .tituloProducto
  {
    text-align: right;
    font-size: 18px;
  }
  .fondo .topSales .raw .col .mitad1 .tituloPrecio{
    text-align: right;
    font-size: 14px;
  }
  .fondo .topSales .raw .col .mitad1 button{
    float: right;
  }
  .fondo .topSales{
    padding: 50px 20px;
  }
  .fondo .topSales .raw .col .mitad2
  {
    float: left;
    width: 70%;
  }
  .mayorista .raw .envioGratis{
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .mayorista .raw .despacho{
    font-size: 38px;
    line-height: 30px;
  }
  .mayorista .raw .santiago{
    font-size: 28px;
    line-height: 28px;
  }
  .productos .raw .columnas{
    width: 100%;
    margin-right: 0px;
  }
  .fondo .header2{
    height: auto;
  }
  .fondo .header2 .row-flex2{
    height: auto;
    flex-direction: column;
  }
  .fondo .header2 .row-flex2 .col-2{
    width: 100%;
    padding-left: 0px;
    order: 2;
  }
  .fondo .header2 .row-flex2 .col-2 .titulo2{
    width: 100%;
  }
  .fondo .header2 .row-flex2 .col-2 .titulo1{
    width: 100%;
  }
  .fondo .header2 .row-flex2 .col-1{
    order: 1;
    width: 60%;
  }
  .productos .raw .columnas .card img{
    max-width: 200px;
  }
  .productos{
    padding: 0 30px;
  }
  .fondo .topSales .raw .col .mitad2 img{
    width: 100%;
  }


  .fondo .header2 .row-flex2 .col-2 button{
    width: 100%;
  }
  .fondo .header2 .row-flex2 .col-2 .button{
    width: 100%;
  }
  .fondo .header3 .row-flex2{
    height: auto;
    flex-direction: column;
  }
  .fondo .header3{
    padding: 50px 0;
  }

  .fondo .header3 .row-flex2 .col-2{
    width: 100%;
    order: 2;
    padding-left: 0px;
  }
  .fondo .header3 .row-flex2 .col-2 .titulo2{
    width: 100%;
  }
  .fondo .header3 .row-flex2 .col-2 .titulo1{
    width: 100%;
  }
  .fondo .header3 .row-flex2 .col-2 .button{
    width: 100%;
  }
  .fondo .header3 .row-flex2 .col-2 button{
    width: 100%;
  }

  .fondo .header3 .row-flex2 .col-1 img{
    margin-bottom: 20px;
  }
  .fondo .header3 .row-flex2 .col-1{
    width: 100%;
    order: 1;
  }

  .fondo2 .container-fluid .row .col-4{
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  footer .row .col-3{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  footer{
    padding: 50px 20px;
  }
  .footerBajo{
    margin-top: 0px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footerBajo img{
    margin-top: 10px;
  }

  .fondoNegro{
    display: block;
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.534);
    transition: 0.3s all linear;
    opacity: 0;
    visibility: hidden;
  }
  .fondoNegro .navMobile{
    position: fixed;
    background: white;
    z-index: 9999;
    top: 0px;
    left: -260px;
    width: 260px;
    height: auto;
    min-height: 100vh;
    padding: 20px 15px;
    transition: .3s all linear;

  }
  .fondoNegro .navMobile .buscador{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }
  .fondoNegro .navMobile .buscador input{
    float: left;
    width: 100%;
    border-radius: 5px;
    height: 45px;
    background: #f2f2f2;
    border: 0px solid;
    padding-left: 45px;
    
  }
  .fondoNegro .navMobile .buscador .searchInput{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    z-index: 102;
  }
  .fondoNegro .navMobile .subMenu{
    float: left;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .fondoNegro .navMobile .subMenu a{
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    font-weight: 500;
  }
  .fondoNegro .navMobile .links{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .fondoNegro .navMobile .links span{
    color: gray;
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  .fondoNegro .navMobile .links a{
    color: black;
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .fondoNegro .cerrarMenu{
    position: fixed;
    transition: 0.2s all linear;
    left: 290px;
    top:20px;
    color: white;
    font-size: 24px;
    width: 50px;
    fill: white;
  }
  .fondoNegro .navMobile .subMenu .productosMobiles{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

  }
  .fondoNegro .navMobile .subMenu .productosMobiles .product-flex{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .fondoNegro .navMobile .subMenu .productosMobiles .product-flex a{
    margin-bottom: 0px;
  }
  .fondoNegro .navMobile .subMenu .productosMobiles .subMenu2{
    position: relative;
    height: 0px;
    padding-left: 14px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.5s all ease-in-out;
  }

  .fondo .contenedor .col-2{
    position: fixed;
    left: -290px;
    top: -0px;
    width: 280px;
    min-height: 100vh;
    background: white;
    z-index: 1500;
    padding: 30px 20px;
    overflow-y: auto;
    height: 100%;
    transition: .5s all ease;
  }
  .fondo .contenedor .col-4{
    float: left;
    width: 100%;
    padding-left: 0px;
  }
  .productos2 .raw .columnas{
    width: calc((100% / 2) - (20px / 2));
  }
  .productos2 .raw .columnas:nth-child(3n) {
    margin-right:20px;
  }
  .productos2 .raw .columnas:nth-child(2n){
    margin-right: 0px;
  }
  .fondo .contenedor .col-4 .filtros .form{
    max-width: 100%;
  }
  .fondo .contenedor .col-4 .filtros .showFiltros{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .fondo .contenedor .col-4 .filtros .showFiltros button{
    float: left;
    width: 100%;
    border: 1px solid #f2f2f2;
    background: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: black;
  }
  .fondo .contenedor .fondoNegro{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.486);
    opacity: 0;
    visibility: hidden;
  }
  .fondo .container{
    flex-direction: column;
  }
  .fondo .fondoGris .container .detalles{
    padding: 20px;
  }
  .fondo  .descripcion{
    padding: 20px;
    display: block;
  }
  .fondo .descripcion .botones div:nth-child(2){
    margin: 0px 20px;
    text-align: center;
  }

  .fondo .raw .col1{
    float: left;
    width: calc(100%);
    padding: 0px 0px;
    margin-bottom: 40px;
  }
  .fondo .raw .col1:first-child{
    margin-right: 0px;
  }
  .fondo .contenedor .raw .col-m
  {
    width: 100%;
  }
  .fondo .contenedor .raw .col-s
  {
    width: 100%;
    margin-top: 50px;
  }
  .fondo .contenedor .raw-flex2 .col3 span{
    height: 43px;
  }
}